from __future__ import absolute_import, unicode_literals

INITIAL_DATA = {
    'roles': [
        'superuser',
        ['user_1', ['superuser', ], ]
    ],
    'acl': [{
        'role': 'superuser',
        'privilege': 'all',
        'context': 'all',
        'allow': True,
    },
    ],
}
