from __future__ import absolute_import, unicode_literals

INITIAL_DATA = {
    'roles': ['superuser', ['user_1', ['superuser', ], ], 'user_2', ],
    'privileges': ['browse.blog.post', 'view.blog.post', 'add.blog.post', 'edit.blog.post', 'delete.blog.post', ],
    'contexts': ['blog.post.1', 'blog.post.2', ],
    'acl': {
        'all': {'superuser': {'all': True}},
        'blog.post.2': {'user_2': {'view': True}},
    }
}
